@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

body {
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size: 16px;
    color: #111;
    line-height: 21px;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    vertical-align: baseline;
}
strong, b {
	font-weight: 600;
}

ul, ol {
	list-style: none;
}

ul {
    padding: 0;
    margin: 0;
    
}

p {
    font-size: 19px;
    font-weight: 400;
    color: #6d6e70;
    line-height: 1.5em;
}

a {
    transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
}

a:hover {
    color: #6d6e70;
}

a, 
a:hover, 
a:focus,
a:active{
    outline: 0;
    text-decoration: none;
}

.white {
    color: #fff !important;
    text-shadow: 2px 2px black;
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 55px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 900;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 0;
}

.btn-primary {
    background: #67bb44;
    border-color: #67bb44;
    font-size: 16px;
    padding: 8px 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-primary:hover {
    background: transparent;
    border-color: #67bb44;
    color: #6d6e70;
}

.btn-cancel {
    background: #222;
    border: 1px solid #222;
    color: #fff;
    padding: 8px 15px;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-cancel:hover {
    background: transparent;
    border-color: #222;
    color: #222;
}

#blue {
    background-color: #2f818d;
}
.tabs{
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    background-attachment: fixed;
    border: 1px solid #F7F7F7;
    border-radius: 5px;
	position: relative;
	margin-bottom: 25px;
    background-size: cover; 
}
.vm-transparent {
    margin-top: 20px; 
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #F7F7F7;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
	text-align: center;
	width: 97%;
	min-height: 315px;
	position: relative;
	margin-bottom: 25px;
}
.section-title {
    margin-bottom: 30px;
    
}
.section-title h2{
    color: #6d6e70;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
}
.section-trust {
    color: #111;
    font-size: 48px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: none;
}
.section-trust h2{
    color: #6d6e70;
    font-weight: 400;
    margin: 0 0 14px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;

}
.section-trust p {
    color: #6d6e70;
}
.section-title p {
    color: #6d6e70;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 300;
}

#valuer-background{
    background: url(../images/products/Quote_finance.jpg) no-repeat;
    padding-top: 70px;
    padding-bottom: 30px;
    background-attachment: fixed;
    background-size: cover; 
    margin-bottom: 30px; 
}

.valuer-1  h1{
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 55px;
    font-family: 'Oswald', sans-serif;
}


.financial {
    text-align: center;
    color: #fff;
    background: url(../images/products/financial.jpg) no-repeat;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-size: cover;    
}

.logo2{
    padding-top: 100px;
}

#vm-financial {
    text-align: center;
    color: #fff;
    background: url(../images/products/kuala-lumpur-1.jpg) no-repeat;
    padding-top: 70px;
    padding-bottom: 70px;
    background-size: cover;
    margin-bottom: -30px;   
    margin-top: -30px;
    background-attachment: fixed;
    background-size: cover; 
}

.intro-text {
    position: relative;
    padding: 20% 0 15% 0;
}

.financial .intro-text h1 {    
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 55px;
    font-family: 'Oswald', sans-serif;
}

.financial .intro-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 3px;
    -webkit-animation: bounceInLeft;
    -moz-animation: fadeInLeft;
    -o-animation: fadeInLeft;
    animation: bounceLeft;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

.financial .intro-text .btn-primary {
    padding: 15px 25px;
    font-size: 16px;
    border-color: #fff;
    color: #fff;
    border-radius: 0;
    width: 130px;
}

.financial .btn-primary:hover {
	background: #fff;
	border-color: #fff;
    color: #111;
}

.financial-1  h1{
    text-shadow: 2px 2px black;
    -webkit-animation: bounceIn;
    -moz-animation: rubberBand;
    -o-animation: bounceIn;
    animation: bounceIn;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    font-family: 'Oswald', sans-serif;
}
.page-header {
    background: url(../images/products/blog-header.jpg) no-repeat;
    padding-top: 96px;
    padding-bottom: 76px;
    background-size: cover;
    margin-bottom: -30px;   
    margin-top: -30px;
    background-attachment: fixed;
    background-size: cover; 
}

.page-header .btn{
    color: #6d6e70;
}
.contact_help {  
  color: #ffffff;
  text-align:left;
  font-size: 40px;
  margin-left: 50px;
}
.contact_help h1 {
    color: #fff !important;
    text-shadow: 2px 2px black;
    font-size: 35px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif;
}
.contact_help span {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5em;
}

.contact_help p {
    color: #fff;
    font-size: 20px;
}
.blog-header {
    background: url(../images/products/blog-header.jpg) no-repeat;
    padding: 70px 0;
    color: #fff;
    font-size: 18px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    margin-top: 0px;
}

#jpph {
    background: url(../images/products/Data.jpg) no-repeat;
    padding-top: 80px;
    background-attachment: fixed;
    padding-bottom: 390px;
    background-size: cover; 
}
.data-1 {
    text-align:left;
    margin-left: 20px;
}

.data-1  h1{
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 55px;
    font-family: 'Oswald', sans-serif;
}
#data-analysis {
    background: url(../images/products/data_transactions.png) no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 40px;
    background-size: cover;
    margin-bottom: 30px;   
}

.analysis-1 {
    text-align: left;
}

.analysis-1  h1{
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 55px;
    font-family: 'Oswald', sans-serif;
}
.gain {
    color: #fff;
    padding-top: 145px;
    margin-right: 40px;  
}

.page-header h1 {
    color: #fff;
}

.top-bar {
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
}

.top-bar a {
	color: #aaa;
}

.navbar {
	margin-bottom: 0;
	background: #fff;
    border-bottom: 1px solid #f2f2f2 !important;
	border: none;
	border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.navbar-brand {
	position: relative;
    padding-top: 0;
	margin: 0!important;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

img.navbar-brand {
    margin-top: 40px;
    /* margin-bottom: 20px; */
    padding-bottom: 10px;
    width: auto;
    height: 120px;
    max-width: 100%;
}

.navbar-default .navbar-nav {
	margin-right: 10px!important;
	position: relative;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav > li {
    margin-left: 1px;
}

.navbar-default .navbar-nav > li:first-child {
    margin-left: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #6b6b6b;
	display: block;
    font-size: 16px;
    line-height: 10px;
	font-weight: 500;
    padding: 25px 15px 30px;
	overflow: hidden;
    border-top: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li > a i {
    padding-left: 10px;
}

.navbar-default .navbar-nav > li > a.active, 
.navbar-default .navbar-nav > li:hover > a {
	border-top: 2px solid #67bb44;
    color: #fff;
    background: #67bb44;
}

.navbar-default .navbar-nav > li > a i {
	margin: 0 -2px 0 -5px;
}


.navbar-default .navbar-nav .dropdown {
    position: absolute;
    left: 0;
    top: 97%;
    width: 180px;
	background-color: #fff;
    border-top: 3px solid #67bb44;
    visibility: hidden;
    z-index: 2;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav > li.drop:hover .dropdown {
    visibility: visible;
	opacity: 1;  
}

.dropdown li, .sup-dropdown li {
	position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.dropdown li:first-child, 
.sup-dropdown li:first-child {
    border-top: none;
}

.dropdown li a, 
.sup-dropdown li a {
    display: block;
    color: #6b6b6b;
    font-size: 14px;
    padding: 10px 12px;
    text-decoration: none;
    transition: padding 0.2s ease-in-out;
    -moz-transition: padding 0.2s ease-in-out;
    -webkit-transition: padding 0.2s ease-in-out;
    -o-transition: padding 0.2s ease-in-out;
}

.dropdown > li:hover > a, 
.sup-dropdown li:hover > a {
    background: #67bb44;
    color: #fff;
}

.dropdown  li a.active, 
.sup-dropdown li a.active {
	background: #67bb44;
    color: #fff;
}

.dropdown li a i {
	margin: 0 0 0 -4px;
}

.navbar-default .navbar-nav .sup-dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    width: 180px;
	background-color: #fff;
    margin-top: 10px;
    transition: margin-top 0.2s ease-in-out;
    -moz-transition: margin-top 0.2s ease-in-out;
    -webkit-transition: margin-top 0.2s ease-in-out;
    -o-transition: margin-top 0.2s ease-in-out;
    visibility: hidden;
    z-index: 3;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav li.drop .dropdown li:hover .sup-dropdown {
    visibility: visible;
    margin-top: 0;
}

.banner {
    text-align: center;
    color: #fff;
    background: url(../images/banner.jpg) no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner .overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.intro-text {
    position: relative;
    padding: 20% 0 15% 0;
}

.banner .intro-text h1 {    
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 55px;
    -webkit-animation: bounceIn;
    -moz-animation: rubberBand;
    -o-animation: bounceIn;
    animation: fadeInDown;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    font-family: 'Oswald', sans-serif;
}

.banner .intro-text h1 span {
    color: #67bb44;
}

.banner .intro-text p {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 3px;
    margin-bottom: 55px;
    -webkit-animation: bounceInLeft;
    -moz-animation: fadeInLeft;
    -o-animation: fadeInLeft;
    animation: bounceLeft;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

.banner .intro-text .btn-primary {
    padding: 15px 25px;
    font-size: 16px;
    border-color: #fff;
    color: #fff;
    border-radius: 0;
    width: 130px;
}

.banner .btn-primary:hover {
	background: #fff;
	border-color: #fff;
    color: #111;
}
 
#about {
    padding-bottom: 140px;
    padding-top: 140px;
    background-size: cover;
    background-position: center;
    background: #f5f5f5;
}

#about-section-2 {
    background: #f9f9f9;
    padding-top: 80px;
    padding-bottom: 80px;
}

iframe {
    border: none;
}

.skill-shortcode {
    margin-top: 40px;
}

.progress {
    overflow: visible;
    height: 5px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.section-modal .modal-content {
    padding: 100px 0 !important;
    min-height: 100%;
    border: 0 !important;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #888;
    font-weight: 300;
}

.section-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.section-modal .close-modal:hover {
    opacity: .3;
}

.section-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.section-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.call-to-action {
    background: url(../images/parallax/bg-02.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 90%;
   text-align: center;
    padding: 100px 0;
}

.call-to-action .btn-primary {
    padding: 20px;
    font-size: 16px;
}

.call-to-action .btn-primary:hover {
    background: transparent;
}

.portfolio-section-1 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pricing-body {
    text-align: left;
}

.pricing-body h4 {
    padding-top: 10px;
    color: #3288c7;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 900;
    margin-bottom: 14px;
    margin-top: 8px;
}

.pricing-body ul {
    margin-left: 14%;
    list-style-type: square;
    margin-right: 10%;
    font-size: 18px;
    padding-bottom: 14px;
    font-weight: 400;
    color: #000;
    line-height: 1.5em;
}

.google-map #map {
    width: 100%;
    height: 500px;
}

.google-map h3{
    color: #6d6e70;
}
.map-container {
    position:relative
}
.contact-block-container {
    background-color:#fff;padding:30px
}
@media (min-width:768px){.contact-block-container{position:absolute;top:10%;padding:20px;right:5%}}.contact-form-container{background-color:#fff}


#client-section {
    padding-top: 40px;
    padding-bottom: 0px;
}

.client-box ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.client-box ul li {
    list-style: none;
    float: left;
    padding: 0 1px;
    width: 20%;
}
.client-box ul li a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    border: 1px solid #cccccc;
    opacity: 1;
    width: 100%;
    padding: 30px 0;
}

.client-box ul li a img {
  width: 100%;
}

#logo3 img{
  margin-top: 20px;
  width: auto;
  height: 200px;
  max-width: 100%;
}
.footer-bs {
    background-color: #1d1d1d;
    padding: 0px 40px;
    margin-top: 0px;
    color: rgba(255,255,255,1.00);
}

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,1.00); }
.footer-bs .footer-nav iframe {
    margin-top: 10px;
    border-radius: 9px;
	position: relative;
}
.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,1.00); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:9px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,1.00); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { margin-top: 40px;  border-left:solid 1px rgba(255,255,255,0.10); }
}

.section-title p{
    color: #5BB12F;
    font-size: 40px;
}
.footer-section .section-heading-2 span:after {
    background: #434343;
}

.footer-section .section-heading-2 .section-title:after {
    background-color: #363636;
}

.footer-section .section-heading-2 h3{
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-address ul li {
    padding: 5px 0;
}

.footer-address ul li .fa {
    color: #6a6a6a;
    font-size: 16px;
    margin-right: 5px;
}

.footer-address ul li a {
    color: #9d9d9d;
}

.footer-address ul li a:hover {
    color: #FF432E;
}

.footer-social ul.social-list li a i {
    font-size: 18px;
	display: block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}

.footer-social ul.social-list li a {
    background: #2e2e2e;
    color: #9d9d9d;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
}

.footer-social ul.social-list li a:hover {
    background: #FF432E;
    color: #000;
}

.copyright-section {
    border-top: 2px solid #363636;
    font-size: 12px;
    /* padding: 10px 10px; */
    background: #1d1d1d;
    color: #7f7f7f;
}

.copyright p{
    font-size: 13px;
}

.copyright-section a {
    color: #7f7f7f;
}

.copyright-section a:hover {
    color: #FF432E;
}

.blog-post {
    margin-bottom: 40px;
}

.blog-post .post-img {
    position: relative;
}

.blog-post .post-img img {
    margin: 0 0 16px 0;
    border-radius: 3px;
    width: 100%;
}

.avm img {
    margin-top: 50px;
}

.avm-orange p{
    color: #ff5900;
  }
  
.blog-post .post-type {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.blog-post .post-type i {
    padding: 15px;
    background: #fff;
    font-size: 16px;
    color: #ff432e;
    border-radius: 3px;
    position: absolute;
    top: 45%;
    left: 48%;
}

.blog-post .post-img:hover .post-type{
    opacity: 1;
}

.blog-post .post-img:hover .post-type i {
    -webkit-animation: fadeInDownBig;
    animation: fadeInDownBig;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
}

h1.post-title {
    font-size: 24px;
    color: #6d6e70;
    font-weight: 400;
    line-height: 110%;
    padding: 20px 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
}

h1.post-title a {
    color: #5c5c5c;
}

.blog-post ul.post-meta {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.blog-post .post-meta li {
    display: inline-block;
    padding-right: 10px;
    color: #959595;
}

.blog-post .post-meta li a {
    color: #5c5c5c;
}
.solid {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    margin-right: 380px;
    margin-top: 30px;}

.blog-post .post-meta li a:hover {
    color: #ff432e;
}

.blog-post .post-meta li i {
    color: #67bb44;
    margin-right: 10px;
}

.blog-post p.post-content {
    margin-bottom: 30px;
    color: #6d6e70;
}

.blog-post a.btn-primary {
    background: #67bb44;
    border: 1px solid #67bb44;
    font-weight: 300;
}
.current {
    color: #6d6e70;
}
.pagination li a {
    color: #67bb44;
}

.pagination li a:hover,
.pagination li a:focus {
    color: #67bb44;
}

.pagination li.active a {
    background: #67bb44;
    border-color: #67bb44;
}

.blog-body .pagination {
    margin-bottom: 70px;
}

.content{
    background-color: #e5e5e5;
    background-attachment: fixed;
    background-size: cover; 
}

#contacts {
    background: url(../images/contact.jpg) no-repeat;
    font-size: 48px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    padding-top: 27px;
    padding-bottom: 90px;
    margin-bottom: -40px;
    background-size: cover;
  }

.contact_help {  
    font-size: 48px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: none;
    color: #fff;
    padding-top: 0px;
    text-align:left;
    margin-left: 50px;
}

.contact_form_valuer {
    color: #000;
    margin-top: 0px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    padding-top: 0px;
    text-align:left;
    letter-spacing: 1px;
}

#valuer-section {
    padding-top: 100px;
    padding-bottom: 40px;
    
}

#valuer-section p{
    padding-bottom: 20px;
    color: #6d6e70;
}

.valuer-post {
    text-align: center;
    margin-bottom: 100px;
    padding-top: 100px;
  }

.valuer-post a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    width: 100px;
    height: 100px;
    margin: 0 0 24px;
    line-height: 100px;
    color: #111;
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
    background: transparent;
    border: 2px solid #111;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }

.valuer-post a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    width: 100px;
    height: 100px;
    margin: 0 0 24px;
    line-height: 100px;
    color: #111;
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
    background: transparent;
    border: 2px solid #111;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }
  .valuer-post:hover a,
  .valuer-post a.active {
    background: #5BB12F;
    color: #ffffff;
    border:2px solid transparent;
  }
  .valuer-post h2 {
    color: #6d6e70;
    font-weight: 400;
    margin: 0 0 14px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
  }
  
  .valuer-post h4 {
    color: #5BB12F;
    text-align: left;
    margin-left: 27%;
    margin-right: 10%;
    font-weight: 900;
    margin-bottom: 8px;
    margin-top: 8px;
}
.valuer-post u {
    color: #5BB12F;
    padding-top: 30px;
}

.valuer-post ul{
    margin-left: 27%;
    list-style-type: square;
    text-align: left;
    margin-right: 10%;
    font-size: 18px;
    font-weight: 400;
    color: #6d6e70;
    line-height: 1.5em;
}

.section-container-spacer {
    margin-bottom:30px;
}
.section-container-spacer h2{
    color: #6d6e70;
    padding-top: 20px;
    font-weight: 900;
    margin: 0 0 14px;
    text-transform: uppercase;
    font-size: 17px;
}
.section-container-spacer ul{
    color: #6d6e70;
    padding-left: 5%;
    padding-bottom: 10px;
    list-style-type: square;
    font-size: 19px;
}


.read-more {
    padding-top: 12px;
}
.second-portion {
  margin-top:40px;  
}

.bridge img {
    border-radius: 8%;
    padding-bottom: 30px;
    padding-top: 30px;
}

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: left;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 0 rgba(200,95,66, 0.4),
		inset 0 0 0 6px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}
.ch-img-1 { 
	background-image: url(../images//logos/enterprise.png);
}

.ch-img-2 { 
	background-image: url(../images//logos/avm1.png);
}

.ch-img-3 { 
    background-image: url(../images//logos/valuer.png);
}
.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	backface-visibility: hidden;
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
    font-size: 22px;
    text-align: center;
	margin: 0 30px;
	padding: 95px 0 0 0;
	height: 110px;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-item:hover {
	box-shadow: 
    inset 0 0 0 110px rgba(109,110,112, 0.4),
    inset 0 0 0 16px rgba(255,255,255,0.8),
    0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
	opacity: 1;
	transform: scale(1);	
}

.contacts {
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 38px; border-radius: 50%; background: #333; vertical-align: middle; padding-top: 15px;}
.box > .icon:hover > .image { background: #5BB12F; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; padding-top: -40px;}
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: 'PT Sans Narrow', Arial, sans-serif !important; font-size: 20px; color: #6d6e70; font-weight: 900; padding-top: 20px; }
.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #6d6e70; }
.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }

