{% extends 'layout.html' %}
{% load bootstrap_tags static %}
{% block content %}

    <section id="data-analysis" class="section text-center col-xs-12"> 
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="white analysis-1">
                        <h1>ANALYSIS</h1>
                    </div>  
                </div>
            </div>
        
            <div class="row">
                <div class="col-sm-6">
                    <div class="gain white text-left">
                        <br>
                        <h1>GAIN INSIGHTS TO <br> THE REAL ESTATE MARKET</h1>
                    </div>  
                </div>
            </div>
        </div>
    </section>
    <section id="valuer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-xs-12">
                    <p>
                        Drawing from an extensive database of actual transaction data, let us help you visualise and make sense of the real estate market.
                        For research, content or to drive leads to your site - leverage our data and analytics to help drive your business.
                    </p>                       
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="post-block">
                        <div class="row ">
                            <div class="col-md-6">
                                <div class="avm">
                                    <img src="{% static "images/avm.png" %}" style="width:240px;height:260px;">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="section-trust"><br>
                                    <h2>Property Market Value Estimates- Anytime, Anywhere</h2><br>
                                    <div class="avm-orange">
                                        <p>Leveraging unrivalled market information, AVM delivers deeper market insights, quicker.</p>
                                    </div>
                                    <p>Through a proprietary algorithm, AVM is designed for investment analysis or the update of loan portfolios in line with Capital Adequacy Framework Requirements.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
{% endblock %}
