{% extends 'layout.html' %}
{% load bootstrap_tags static %}
{% block content %}
<div class="blog-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Blog</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Start Blog Body Section -->
        <div class="col-md-8 blog-body">
            {% for blog in blogs %}
            <!-- Start Blog post -->
            <div class="blog-post">
                {% comment %} <h1 class="post-title"><a href="#">{{ blog.title }}</a></h1> {% endcomment %}
                <h1 class="post-title"><a href="{% url 'blog_details' blog.pk %}">{{ blog.title }}</a></h1>
                <ul class="post-meta">
                    <li><i class="fa fa-clock-o"></i>{{ blog.created_date|date:"d F Y" }}</li>
                </ul>
                <p class="post-content">{{ blog.text }}</p>
            </div>
            {% endfor %}
            <!-- Start Pagination -->
            <nav>
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Start">Start</a></li>
                    <li class="disabled"><a href="#" aria-label="Previous">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">Next</a></li>
                    <li><a href="#">End</a></li>
                </ul>
            </nav>
            <!-- End Pagination -->
            
        </div>
        <!-- End Blog Body Section -->
    
    </div>
</div>

    
{% endblock %}