{% extends 'layout.html' %}
{% load static %}
{% load bootstrap_tags static %}
{% block content %}
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="white col-md-4">
                <div class="contact_help">
                    <h1>LET US HELP YOU</h1>
                    <p>
                        Push the boundaries of efficiency and excellence through game changing solutions.
                    </p>
                    <p>
                        We provide innovative solutions that combine international best practices with cutting edge technology for financiers, governments and property professionals.
                    </p>
                    <p>
                        Speak to us or email us at <a href="mailto:info@resolutions.com.my" style="color: #fff">info@resolutions.com.my</a> today about how we can help your organisation get ahead.
                    </p>
                </div> 
            </div>
            <div class="white col-md-6 contact_help">
                <h1>FILL UP THE FORM BELOW</h1><br>
                {% csrf_token %}
                {{ form|as_bootstrap_inline }}
            <div id="success" class="form-actions">
                <button type="submit" class="save btn btn-primary">Send Message</button>
            </div>
           
        </div>
    </div>
</section>
    {% comment %} <section id="page-header"> 
        <div class="row">
            <div class="white">
                <div class="col-md-4">
                    <div class="contact contact_help">
                        <h1>LET US HELP YOU</h1>
                            <p>
                                Push the boundaries of efficiency and excellence through game changing solutions.
                            </p>
                            <p>
                                We provide innovative solutions that combine international best practices with cutting edge technology for financiers, governments and property professionals.
                            </p>
                            <p>
                                Speak to us or email us at <a href="mailto:info@resolutions.com.my" style="color: #fff">info@resolutions.com.my</a> today about how we can help your organisation get ahead.
                            </p>
                    </div>  
                </div>
                <div class="col-md-6 modal-body" data-wow-duration="2s" data-wow-delay="600ms">
                        {% csrf_token %}
                        {{ form|as_bootstrap_inline }}
                    <div id="success" class="form-actions">
                        <button type="submit" class="save btn btn-primary">Send Message</button>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    {% comment %} <section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                        <h2>Contact Us</h2>
                        <p>Do not hesitate to contact us anytime</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-2">
                    <form action= "" method="POST">
                        <div class="row"></div>
                            <div class="col-md-10 modal-body" data-wow-duration="2s" data-wow-delay="600ms">
                                    {% csrf_token %}
                                    {{ form|as_bootstrap_inline }}
                                <div id="success" class="form-actions">
                                    <button type="submit" class="save btn btn-primary">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>  
    </section> {% endcomment %}
    <div class="google-map">
            <div class='container-fluid'>
                <div class="row map-container">
                        <div id="map" data-position-latitude="3.1125" data-position-longitude="101.5770"></div>
                    <div class="col-xs-10 col-md-4 contact-block-container reveal">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <h3>Phone</h3>
                                <p>+60 3 76212173</p>
        
                                <h3>E-mail</h3>
                                <p>info@resolutions.com.my</p>
                                <h3>Open hours</h3>
                                <p>Mon - Fri : 9AM - 5.30PM</p>
                            </div>
        
                            <div class="col-xs-12 col-sm-6">
                                <h3>Address</h3>
                                <p>C-8-16, Centum @ Oasis Corporate Park, No.2, Jalan Pju 1A/2, Ara Damansara, Petaling Jaya</p>
        
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="google-map">
        
    </div>
   {% endblock %}
    </body>
</html>