{% extends 'layout.html' %}
{% load bootstrap_tags static %}
{% block content %}
    <div class="jpph">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="gain white">
                        
                        <h1>Data</h1>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <section id="dataPage" class="section">
        <div class="container">
            
            <div class="col-xs-12 col-sm-6">
                <div class="font">
                    <div class="text-left"><br><br>
                        <p>Data is sourced from Jabatan Penilaian dan Perkhidmatan Harta (JPPH) a Department under the Ministry of Finance, Government of Malaysia.</p>
                    </div>
                    <div class="text-left">
                        <p>Data sourced represents a combination of primary and secondary transactions recorded upon payment of stamp duty.</p>
                    </div>
                    <div class="text-left">
                        <p>Using a proprietary algorithm, the data is cleaned and sorted for effective search and visualisation purposes.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="maps1">
                    <img src="{% static 'images/maps.png' %}">
                </div>
            </div>
        </div>
    </section>


{% endblock %}