{% extends 'layout.html' %}
{% load bootstrap_tags static %}
{% block content %}

    <section class="section financial col-xs-12">
        <div class="container">
            <div class="logo2">
                <div class="col-xs-12 col-md-12">
                    <img src="{% static "images/logos/logo2.png" %}" style="width:200px;height:200px;">
                </div>
            </div>
            <div class="intro-text">
                <h1>MAKE FASTER AND MORE CONFIDENT MORTGAGE LENDING DECISIONS</h1>
                <p>A cloud base end-to-end facilitator of the entire valuation process between a Financier and Valuer.                     
                <br>Streamline and automate Valuation Management, Portfolio Revaluation through a centralised easy to use system.</p>  
            </div>          
        </div>
    </section>
    <div id="vm-financial" class="col-xs-12">
        <div class="tabs col-sm-2">
            <ul class="nav nav-pills btn-lg nav-stacked">
                <li class="active"><a href="#tab_a" data-toggle="pill">Valuation Management</a></li>
                <li><a href="#tab_b" data-toggle="pill">Portfolio Revaluation</a></li>
            </ul>
        </div>
        <div class="tab-content col-md-10">
            <div class="tab-pane active" id="tab_a">
                <div class="vm-transparent">
                    <div class="row">
                        <div class="container">
                            <div class="col-sm-8 col-sm-offset-1">
                                <div class="pricing-body">
                                    <h4>
                                        Indicative Value Check
                                    </h4>
                                    <ul>
                                        <li>
                                            Get instant market value estimate - backed by up to data transaction data 
                                        </li>
                                        <li>
                                            Automatically request for indicative values from all panel valuers 
                                        </li>
                                    </ul>
                                        <h4>
                                            Process Controls
                                        </h4>
                                    <ul>
                                        <li>
                                            Single point to order, track, manage and retrieve valuation reports 
                                        </li>
                                        <li>
                                            Standardised digitally signed, and un-editable valuation reports for all panel valuers
                                            </li>
                                        </ul>
                                            <h4>Valuers Performance Management</h4>
                                        <ul>
                                            <li>
                                                Intuitive web based interface for effective data entry and file attachments
                                            </li>
                                            <li>
                                                Seamless synchronisation with VMS Business Edition (Subscription Service for Valuers)
                                            </li>
                                        </ul>
                                            <h4>Risk Management</h4>
                                        <ul>
                                            <li>
                                                Automated valuation report compliance checks
                                            </li>
                                            <li>
                                                Automated quality assurance checks
                                            </li>
                                        </ul>
                                            <h4>Panel Management</h4> 
                                        <ul>
                                            <li>
                                                Effectively Manage and change panel valuers
                                            </li>
                                            <li>
                                                Instantly manage and implement valuation policies to all panel value
                                            </li>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_b">
                <div class="vm-transparent">
                    <div class="row">
                        <div class="container">
                            <div class="col-sm-8 col-sm-offset-1">
                                <div class="pricing-body">
                                    <h4>
                                        Revalue entire portfolios instantly by leveraging the very latest transaction data and in depth analytics
                                    </h4>
                                    <ul>
                                        <li>
                                            The system is designed to extract information from an Excel file through the correspondence of specific column headings. This enables the system to provide a “Market Value Estimate” based on the Bank’s specific risk parameters. 
                                        </li>
                                        <li>
                                            From the results derived or based on existing parameters, a request for indication from panel valuers can be both automatically or manually triggered for verification or test purposes.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- tab content -->
    </div>
    
                    
{% endblock %}

