{% extends 'layout.html' %}
{% load bootstrap_tags static %}
{% block content %}

    <section id="valuer-background" class="section text-center col-xs-12"> 
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="white valuer-1">
                    <h1>VALUER</h1>
                </div>  
            </div>
        </div>
        <div class="row">
            
            <div class="gain col-xs-12 col-sm-4">
                <img src="{% static "images/vms-business-crop.png" %}" style="width:200px;height:200px;">
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="gain white text-left">
                    <br>
                    <h1>IMPROVE ACCURACY, CONTROLS AND EFFICIENCY OF YOUR VALUATION FIRM</h1>
                </div>  
            </div>
        </div>
    </section>
    <section id="valuer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-xs-12">
                    <p>VMS Business Edition is a cloud based end to end solutions designed for the management of the modern valuation practice. Manage workflows, search transactions, capture data and generate reports anytime, anywhere with improved accuracy, controls and efficiency.</p>                       
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="valuer-post">
                        <a href="#"><i class="fa fa-skyatlas"></i></a>
                        <h2>ACCURACY</h2>
                        <ul>
        					<li>
        						Intuitively search the very latest transaction data
        					</li>
        					<li>
        						Streamlined and data linked calculation models
        					</li>
        				</ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="valuer-post">
                        <a href="#"><i class="fa fa-paper-plane-o"></i></a>
                        <h2>CONTROLS</h2>
                        <ul>
                            <li>
                                Automated Risk management 
                            </li>
                            <li>
                                Built-In quality control checks 
                            </li>
                            <li>
                                Cutting edge business analytics 
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="valuer-post">
                        <a href="#"><i class="fa fa-foursquare"></i></a>
                        <h2>EFFICIENCY</h2>
                        <ul>
                            <li>
                                Intuitive In-Field Data Capture 
                            </li>
                            <li>
                                Automatic Report Generation 
                            </li>
                            <li>
                                Automatic Report Generation 
                            </li>
                            <li>
                                Search, monitor and retrieve work in progress 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="post-block">
                        <div class="row ">
                            <!-- post block -->
                            <div class="col-md-6">
                                <div class="post-img">
                                    <img src="{% static 'images/post-img.png' %}" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="section-trust"><br>
                                    <h2>Transaction Data</h2><br>
                                    <p>VMS Business Edition includes the very latest transaction data sourced from JPPH. Using a proprietary algorithm, the data is cleaned and sorted for effective search and visualisation purposes.</p>
                                    <a href="{% url 'data' %}" class="btn btn-primary btn-lg">DATA</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12"><br><br><br>
        <div class="section-trust text-center">
            <h2>Trusted By</h2><br><br>
        </div>                        
    </div>      
    <div id="client-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="client-box">
                        <ul class="client-list">
                            <li><a href="http://www.knightfrank.com.my/"><img src="{% static 'images/clients/Knight-Frank1.png' %}" class="img-responsive" alt="Clients Logo"></a></li>
                            <li><a href="https://ipckl.com/"><img src="{% static 'images/clients/ipp.png' %}" class="img-responsive" alt="Clients Logo"></a></li>
                            <li><a href="http://www.raineandhorne.com.my/"><img src="{% static 'images/clients/logo-rh1.png' %}" class="img-responsive" alt="Clients Logo"></a></li>
                            <li><a href="http://www.ntl.my/"><img src="{% static 'images/clients/NTL.png' %}" class="img-responsive" alt="Clients Logo"></a></li>
                            <li><a href="http://www.macrealinternational.com/"><img src="{% static 'images/clients/mac.png' %}" class="img-responsive" alt="Clients Logo"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container second-portion">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4 col-sm-offset-4">
            <div class="box">							
                <div class="icon">
                    <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class="info">
                        <h3 class="title">Any Enquiries</h3>
                        <br>
                            <div class="row">
                                <h1 class="text-center"><a href="#myModal" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Contact Us</a></h1>
                            </div>
                        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel" style="color:black">We'd Love to Hear From You</h3>
                            </div>
                            <div class="modal-body">
                                <form action= "" method="POST">
                                    {% csrf_token %}
                                    {{ form|as_bootstrap_inline }}
                                    <button type="submit" class="save btn btn-default">Submit</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="save btn btn-default" style="color:black" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div> 
        </div>
    </div>
</div>
            


{% endblock %}